
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&family=Manrope:wght@500;600;700;800&display=swap');


:root {
    --text-color: #ffffff;
    --background-color: #000000;
}

body {
    background-color: var(--background-color);
    font-family: JetBrains Mono;
}

h1,h2,h3,h4,h5,h6,span,a{
    color: var(--text-color);
}

.container {
    text-align: center;
    margin: auto;
}